
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .sidebar h2 {
    color: #fff;
    margin-bottom: 15px;
  }
  
  .sidebar button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sidebar button:hover {
    background-color: #0056b3;
  }
  
  .sidebar input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 80%;
    margin-bottom: 10px;
  }
  